.screen-2{
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: #FFFF;
    .title_and_sub{
        display: flex;
        flex-direction: column;
        .title_about{
            float: left;
            display: flex;
            flex-direction: column;
            max-width: 20rem;
            height: 7rem;
            font-size: 1.5rem;
            margin-left: 4rem;
            margin-top: 4rem;
            .line{
                width: 25%;
                height: 0.30rem;
                background-color: var(--blue-border-after-title);
                margin-top: 0.80rem;
            }
            h3{
                font-family: var(--font-title-screen-2);
                font-weight: 400;
            }
        }
        .text_about{
            float: left;
            display: flex;
            max-width: 20rem;
            height: 7rem;
            margin-left: 4rem;
            font-family: var(--font-subtitle-screen-2);
            color: var(--gray-text-example-about);
        }
    }

    .slider{
        width: 100%;
        height: 100%;
        background-color: #FFFF;
        .slider_bar{
            max-width: 90%;
            height: 100%;
            margin: 0 auto;
            .title_slider{
                max-width: 80%;
                height: 20%;
                margin: 0 auto;
                text-align: center;
                font-family: var(--font-title-screen-3);
                margin-top: 4rem;
                font-size: 1.5rem;
            }
                .slide{
                    width: 100%;
                    height: 100%;
                    .slide_img{
                        float: left;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        padding-left: 0;
                        .img{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio01.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                        }
                        .img2{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/house.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                        }
                        .img3{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home01.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img4{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home2.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img5{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img6{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio02.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img7{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                    }
                    }
            }
        }
}


@media (max-width: 780px) {
    .screen-2{
        width: 100%;
        height: 45rem;
        background-color: #FFFF;
        .title_and_sub{
            display: flex;
            flex-direction: column;
            .title_about{
                float: left;
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                height: 7rem;
                font-size: 1.5rem;
                margin-left: 4rem;
                margin-top: 4rem;
                .line{
                    width: 25%;
                    height: 0.30rem;
                    background-color: var(--blue-border-after-title);
                    margin-top: 0.80rem;
                }
                h3{
                    font-family: var(--font-title-screen-2);
                    font-weight: 400;
                }
            }
            .text_about{
                float: left;
                display: flex;
                max-width: 20rem;
                height: 7rem;
                margin-left: 4rem;
                font-family: var(--font-subtitle-screen-2);
                color: var(--gray-text-example-about);
            }
        }
    
        .slider{
            width: 100%;
            height: 100%;
            background-color: #FFFF;
            .slider_bar{
                max-width: 90%;
                height: 100%;
                margin: 0 auto;
                .title_slider{
                    max-width: 80%;
                    height: 20%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: var(--font-title-screen-3);
                    margin-top: 4rem;
                    font-size: 1.5rem;
                }
                .slide{
                    width: 100%;
                    height: 90%;
                    .slide_img{
                        float: left;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        padding-left: 0;
                        .img{
                            width: 90%;
                            height: 20rem;
                            background-image: url('../../assets/img/services/Studio01.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 5rem;
                        }
                        .img2{
                            width: 90%;
                            height: 20rem;
                            background-image: url('../../assets/img/services/house.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 5rem;
                        }
                        .img3{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home01.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                            
                        }
                        .img4{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home2.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img5{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img6{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio02.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img7{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                    }
                    }
                }
            }
    }
}

@media (max-width: 612px) {
    .screen-2{
        width: 100%;
        height: 40rem;
        background-color: #FFFF;
        .title_and_sub{
            display: flex;
            flex-direction: column;
            .title_about{
                float: left;
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                height: 7rem;
                font-size: 1.5rem;
                margin-left: 4rem;
                margin-top: 4rem;
                .line{
                    width: 25%;
                    height: 0.30rem;
                    background-color: var(--blue-border-after-title);
                    margin-top: 0.80rem;
                }
                h3{
                    font-family: var(--font-title-screen-2);
                    font-weight: 400;
                }
            }
            .text_about{
                float: left;
                display: flex;
                max-width: 20rem;
                height: 7rem;
                margin-left: 4rem;
                font-family: var(--font-subtitle-screen-2);
                color: var(--gray-text-example-about);
            }
        }
    
        .slider{
            width: 100%;
            height: 100%;
            background-color: #FFFF;
            .slider_bar{
                max-width: 90%;
                height: 100%;
                margin: 0 auto;
                .title_slider{
                    max-width: 80%;
                    height: 20%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: var(--font-title-screen-3);
                    margin-top: 4rem;
                    font-size: 1.5rem;
                }
                .slide{
                    width: 100%;
                    height: 90%;
                    .slide_img{
                        float: left;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        padding-left: 0;
                        .img{
                            width: 90%;
                            height: 20rem;
                            background-image: url('../../assets/img/services/Studio01.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 5rem;
                        }
                        .img2{
                            width: 90%;
                            height: 20rem;
                            background-image: url('../../assets/img/services/house.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 5rem;
                        }
                        .img3{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home01.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                            
                        }
                        .img4{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home2.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img5{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img6{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio02.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img7{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                    }
                    }
                }
            }
    }
}

@media (max-width: 512px) {
    .screen-2{
        width: 100%;
        height: 40rem;
        background-color: #FFFF;
        .title_and_sub{
            display: flex;
            flex-direction: column;
            .title_about{
                float: left;
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                height: 7rem;
                font-size: 1.5rem;
                margin-left: 4rem;
                margin-top: 4rem;
                .line{
                    width: 25%;
                    height: 0.30rem;
                    background-color: var(--blue-border-after-title);
                    margin-top: 0.80rem;
                }
                h3{
                    font-family: var(--font-title-screen-2);
                    font-weight: 400;
                }
            }
            .text_about{
                float: left;
                display: flex;
                max-width: 20rem;
                height: 7rem;
                margin-left: 4rem;
                font-family: var(--font-subtitle-screen-2);
                color: var(--gray-text-example-about);
            }
        }
    
        .slider{
            width: 100%;
            height: 100%;
            background-color: #FFFF;
            .slider_bar{
                max-width: 90%;
                height: 100%;
                margin: 0 auto;
                .title_slider{
                    max-width: 80%;
                    height: 20%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: var(--font-title-screen-3);
                    margin-top: 4rem;
                    font-size: 1rem;
                }
                .slide{
                    width: 100%;
                    height: 90%;
                    margin-top: -8rem;
                    .slide_img{
                        float: left;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        padding-left: 0;
                        .img{
                            width: 100%;
                            height: 10rem;
                            background-image: url('../../assets/img/services/Studio01.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 10rem;
                        }
                        .img2{
                            width: 100%;
                            height: 10rem;
                            background-image: url('../../assets/img/services/house.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 10rem;
                        }
                        .img3{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home01.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                            
                        }
                        .img4{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home2.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img5{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img6{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio02.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img7{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                    }
                    }
                }
            }
    }
}

@media (max-width: 420px) {
    .screen-2{
        width: 100%;
        height: 40rem;
        background-color: #FFFF;
        .title_and_sub{
            display: flex;
            flex-direction: column;
            .title_about{
                float: left;
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                height: 7rem;
                font-size: 1.5rem;
                margin-left: 2rem;
                margin-top: 4rem;
                .line{
                    width: 25%;
                    height: 0.30rem;
                    background-color: var(--blue-border-after-title);
                    margin-top: 0.80rem;
                }
                h3{
                    font-family: var(--font-title-screen-2);
                    font-weight: 400;
                }
            }
            .text_about{
                float: left;
                display: flex;
                max-width: 20rem;
                height: 7rem;
                margin-left: 2rem;
                font-family: var(--font-subtitle-screen-2);
                color: var(--gray-text-example-about);
            }
        }
    
        .slider{
            width: 100%;
            height: 100%;
            background-color: #FFFF;
            .slider_bar{
                max-width: 90%;
                height: 100%;
                margin: 0 auto;
                .title_slider{
                    max-width: 80%;
                    height: 20%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: var(--font-title-screen-3);
                    margin-top: 4rem;
                    font-size: 1rem;
                }
                .slide{
                    width: 100%;
                    height: 90%;
                    .slide_img{
                        float: left;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        padding-left: 0;
                        .img{
                            width: 100%;
                            height: 10rem;
                            background-image: url('../../assets/img/services/Studio01.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 10rem;
                        }
                        .img2{
                            width: 100%;
                            height: 10rem;
                            background-image: url('../../assets/img/services/house.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 10rem;
                        }
                        .img3{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home01.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                            
                        }
                        .img4{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home2.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img5{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img6{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio02.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img7{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                    }
                    }
                }
            }
    }
}

@media (max-width: 400px) {
    .screen-2{
        width: 100%;
        height: 40rem;
        background-color: #FFFF;
        .title_and_sub{
            display: flex;
            flex-direction: column;
            .title_about{
                float: left;
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                height: 7rem;
                font-size: 1.5rem;
                margin-left: 2rem;
                margin-top: rem;
                .line{
                    width: 25%;
                    height: 0.30rem;
                    background-color: var(--blue-border-after-title);
                    margin-top: 0.80rem;
                }
                h3{
                    font-family: var(--font-title-screen-2);
                    font-weight: 400;
                }
            }
            .text_about{
                float: left;
                display: flex;
                max-width: 20rem;
                height: 7rem;
                margin-left: 2rem;
                font-family: var(--font-subtitle-screen-2);
                color: var(--gray-text-example-about);
            }
        }
    
        .slider{
            width: 100%;
            height: 100%;
            background-color: #FFFF;
            .slider_bar{
                max-width: 90%;
                height: 100%;
                margin: 0 auto;
                .title_slider{
                    max-width: 80%;
                    height: 20%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: var(--font-title-screen-3);
                    margin-top: 4rem;
                    font-size: 1rem;
                }
                .slide{
                    width: 100%;
                    height: 50%;
                    margin-top: -10rem;
                    .slide_img{
                        float: left;
                        display: flex;
                        width: 100%;
                        height: 60%;
                        justify-content: center;
                        align-items: center;
                        padding-left: 0;
                        .img{
                            width: 100%;
                            height: 10rem;
                            background-image: url('../../assets/img/services/Studio01.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 10rem;
                        }
                        .img2{
                            width: 100%;
                            height: 10rem;
                            background-image: url('../../assets/img/services/house.jpeg');
                            background-position: center;
                            background-size: cover;
                            border-radius: 1rem;
                            margin-top: 10rem;
                        }
                        .img3{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home01.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                            
                        }
                        .img4{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home2.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img5{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Home03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img6{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio02.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                        .img7{
                            width: 90%;
                            height: 30rem;
                            background-image: url('../../assets/img/services/Studio03.jpeg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 1rem;
                        }
                    }
                    }
                }
            }
    }
}